.jumbotron{
  text-align: center;
  margin: auto;
  padding: 200px;
}

.container{
font-family: 'Gentium Book Basic', serif;

}

.container{
  font-size: 250%;
}
ul.dropdown-menu.dropdown-menu-dark.show li a {
    text-decoration: none;
    color: white;
    margin: 0 8%;
}
